{% extends "layout.twig" %}
{% block main %}
    {% embed 'modal-layout.twig' with {
        'title' : 'ADD NEW CATEGORY',
        'body': '<div class="form-group"><label class="control-label">New category name</label>
    <input type="text" placeholder="Name" class="form-control" name="category_name" id="category_name" required></div>',
        'button': 'Save',
        'id': 'addPostCategory'} %}
    {% endembed %}
    <div class="container-fluid">
        <h1 class="mt-4">Post</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item "><a href="/admin/">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="/admin/posts/">Posts</a></li>
            <li class="breadcrumb-item active">{{ action|default('Edit')|capitalize }}</li>
        </ol>
        <div class="row">
            {% if not editPost %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>{{ error }}</span>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="card light bordered">
                        <div class="card-header tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">{{ editPost.getTitle()|default('Add new') }}</span>
                                <a href="/post/{{ editPost.getCategorySlug()|default('uncategorized') }}/{{ editPost.getSlug() }}/"
                                   class="float-right">View post</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" action="/admin/post/{{ action|default('edit/'~ editPost.getID()) }}/"
                                  method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label">Title</label>
                                                    <input type="text" placeholder="Title" class="form-control"
                                                           name="title"
                                                           value="{{ editPost.getTitle() }}" required>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Category</label>
                                                    <select class="custom-select" name="category_id" id="categories"
                                                            required>
                                                        <option value="">Choose a category</option>
                                                        {% for category in categories %}
                                                            <option value="{{ category.id }}"
                                                                    {% if category.id == editPost.getCategoryId() %}selected{% endif %}>{{ category.category_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <div class="mt-4">
                                                        <a href="#" data-toggle="modal" data-target="#modal"
                                                           class="btn btn-outline-info mt-2">New category</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Abstract</label>
                                            <textarea rows="2" class="form-control"
                                                      name="abstract_content">{{ editPost.getAbstractContent()|raw }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Content</label>
                                            <textarea rows="13" class="form-control"
                                                      name="content">{{ editPost.getContent()|raw }}</textarea>

                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" name="active"
                                                       id="active"
                                                       value="1" {% if editPost.getActive() %}checked{% endif %}>
                                                <label class="custom-control-label" for="active">Active</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">
                                            <label class="control-label">Header image</label>
                                            {% if image %}
                                                <img src="{{ image }}" class="img-thumbnail">
                                            {% endif %}
                                            <div class="form-control-file">
                                                <input type="file" name="blog_image" id="blog_image" class="mt-1">
                                                <p>
                                                    <span class="text-muted">Please choos 16/9 ratio for your image</span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="margiv-top-10">
                                    <input type="hidden" name="{{ button|lower|default('edit') }}_post"
                                           value="{{ editPost.getId() }}">
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <input type="submit" class="btn green" value="{{ button|default('Save Changes') }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#addPostCategory').on('click', function (event) {
                event.stopPropagation();
                var name = $('#category_name').val();
                var token = $('#addPostCategoryToken').val();
                if (name) {
                    $.ajax({
                        method: "POST",
                        url: "/admin/category/add/",
                        data: {category_name: name, token: token},
                        dataType: "json"
                    })
                        .done(function (data) {
                            if (data.response == 'error') {
                                Command: toastr.error("", data.message);
                            } else if (data.response == 'success') {
                                Command: toastr.success("", data.message);
                                $('#categories').append('<option value="' + data.category['id'] + '" selected>' + data.category['name'] + '</option>')
                                $('#modal').modal('toggle');
                            }
                        });
                }
            });
        });
    </script>
{% endblock %}
