<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <a class="badge badge-info float-right mb-2"
               href="/post/{{ single_post.getCategorySlug()|default('all') }}/">{{ single_post.getCategoryName() }} </a>
            <span style="font-size: 75%" class="text-muted float-left mb-2">{{ single_post.getDateAdd()|date('d M Y') }} </span>
            {% if single_post.getImageUrl() %}
                <img src="/img/post/{{ single_post.getImageUrl() }}" class="img-fluid mb-3"/>
            {% endif %}
            <h3 class="card-title">{{ single_post.getTitle() }}</h3>
            <p class="card-text">{{ single_post.getAbstractContent() }}</p>
        </div>
        <div class="card-footer">
            <a href="/post/{{ single_post.getCategorySlug()|default('all') }}/{{ single_post.getSlug() }}/"
               class="btn btn-primary btn-sm">Read article</a>
            {% if user.getId() == single_post.getCreatedBy() %}
                <a href="/admin/post/edit/{{ single_post.getId() }}/" class="float-right text-muted">Edit</a>
            {% endif %}
        </div>
    </div>
</div>
