<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="David Siker <sp4tz7@gmail.com>">
        <title>
            {% if title %}
                {{ title ~ ' | ' ~ siteName }}
            {% else %}
                {{ siteName }}
            {% endif %}
        </title>
        <!-- Bootstrap core CSS -->
        <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script src="/plugins/fontawesome/js/font-awesome.min.js"></script>
        <link href="/plugins/toastr/css/toastr.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css" rel="stylesheet"/>
        {% block custom_sytle %}
        {% endblock %}
    {% endblock %}
</head>
<body id="{{ page.body_id }}">
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">{{ siteName }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post/all/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    {% if user %}
                        <li><a class="nav-link" href="/admin/my-account/"><i class="fas fa-user fa-fw ml-2"></i></i> My
                                account</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block breadcrumb %}
    <div class="row" id="breadcrumb">
        <div class="container"> {% include 'breadcrumb.twig' %}</div>
    </div>
{% endblock %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>


{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white mr-0">Copyright &copy; sp4tz {{ "now"|date("Y") }} |
                <a href="/sitemap/" class="mr-0 text-white">Sitemaps</a> |
                <a href="/admin/" class="mr-0 text-white">Administration</a>
            </p>
        </div>
    </footer>
{% endblock %}

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/toastr/js/toastr.min.js"></script>
<script>
    {% if flashes %}
    {% for flash in flashes %}
    Command: toastr.{{ flash.type }}("{{ flash.message['content'] }}", "{{ flash.message['title'] }}")
    {% endfor %}
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    {% endif %}
</script>
{% block custom_script %}

{% endblock %}


</body>

</html>
